.text-input {
  width: 100%;
  outline: none;
  border: none;
  font-family: "Roboto", arial, sans-serif;
  margin-left: 5px;
  padding: 0px;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.2em;
  height: 1.2em;
  resize: none;
}
.title-bar {
  background-color: #e5ddd5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-height: 300px) {
  .title-bar {
    display: none;
  }
}
.other-message {
  background-color: #dcf8c6 !important;
}
.chat-history-div {
  background-color: #e5ddd5;
  flex-grow: 1;
  overflow-y: auto;
  align-items: flex-end;
}
.the-actual-chat-history {
  background-image: url(/assets/google-translate-logo.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
}
.interm-microphone-text {
  color: gray;
}
.input-div {
  display: flex;
  flex-direction: row;
}
.input-div div {
  flex-grow: 1;
}
.message-line {
  white-space: pre-wrap;
}
.right-buttons-part{
  width:80px;
}

.message-text {
  text-align: left;
  display: inline-block;
  width: 80%;
  background-color: white;
  margin: 8px;
  border: thin;
  border-color: white;
  border-style: solid;
  border-radius: 11px;
  padding: 3px;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.2em;
}
.current-translated {
  white-space: pre-wrap;
  width: 50%;
  display: inline-block;
  border: 0px;
  border-style: solid;
  margin: -1px;
  padding-left: 3px;
  margin-left: -3px;

  height: 100%;
}
@media only screen and (max-width: 767px) {
  .current-translated {
    border-top-width: 1px;
    border-color: lightgray;
    width: 100%;
  }
  .right-buttons-part{
    width:40px;
  }
  
}

@media only screen and (min-width: 768px) {
  .current-translated {
    vertical-align: top;
    border-left-width: 1px;
    border-color: lightgray;
  }
  .bubble-part {
    width: 50%;
    display: inline-block;
  }
  .message-text{
    width:85%;
  }
}
@media only screen and (min-width: 1100px) {

  .message-text{
    width:90%;
  }
}
@media only screen and (min-width: 1700px) {

  .message-text{
    width:93%;
  }
}
.pressed {
  color: red !important;
}
