<div class="container">
    <div>
        your name: <input [(ngModel)]="currentMessage.userName">
    </div>

    <div id="chat-history" class="chat-history-div" conten>
        <div *ngFor="let m of messageHistory" class="message-line" [style.text-align]="messageAlign(m)">
            <div class="message-text">
                <span style="font-size: small">{{m.userName}}:</span><br>
                <span>{{m.text}}</span> <br>
                <span>{{m.translatedText}}</span>
            </div>

        </div>

    </div>

    <div class="input-div">
        <div>
            <textarea [(ngModel)]="currentMessage.text" (keyup)="textChanging($event)" class="text-input" (keypress)="keyPress($event)"></textarea>
            <br>

            <button (click)="send()">Send </button>
            <span style="font-size: small">(or press [Ctrl]+[Enter] to send)</span>
        </div>
        
        <div class="current-translated">{{currentMessage.translatedText}}</div>
    </div>
</div>